
/* Footer */
.footer {
    position: relative;
    background-image: url("./footer-bg.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 100px 20px 40px;
    text-align: center;
    color: #fff;
}



.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #94a3b8;
    margin: 40px 0;
}

.footer-hr {
    width: 80%;
    margin: 30px auto;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.copyright {
    color: #475569;
    font-size: 14px;
}

/* Responsive Breakpoints  */

/* 1. Large Devices (Desktop - above 992px) */
@media (min-width: 993px) {
    .features-grid {
        grid-template-columns: 1.2fr 1fr 1fr;
    }
}

/* 2. Medium Devices (576px to 992px) */
@media (max-width: 992px) {
    .navbar {
        padding: 20px 5%;
    }

    .stats-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .features-grid {
        grid-template-columns: 1fr 1fr;
    }

    .large-feature {
        grid-row: span 1;
        grid-column: span 2;
    }

    .episodes-grid {
        grid-template-columns: 1fr 1fr;
    }

    .hero-title {
        font-size: 3rem;
    }
}

/* 3. Small Devices (Up to 576px) */
@media (max-width: 576px) {
    .banner {
        padding: 60px 15px;
    }

    .hero-title {
        font-size: 2.2rem;
    }

    .cta-group {
        flex-direction: column;
        align-items: center;
    }

    .stats-container {
        grid-template-columns: 1fr;
    }

    .features-grid,
    .episodes-grid {
        grid-template-columns: 1fr;
    }

    .large-feature {
        grid-column: span 1;
    }

    .host-card {
        padding: 30px 20px;
    }

    .footer-links {
        flex-direction: column;
        gap: 15px;
    }
}