/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0F011E;
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

.logo span {
    color: #FF318C;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: white;
}

.gradient-btn {
    background: linear-gradient(90deg, #FF318C, #8C52FF);
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gradient-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(140, 82, 255, 0.3);
}

.mobile-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
/* Banner Section */
.banner {
    position: relative;
    text-align: center;
    padding: 100px 20px;
}

.banner .hero-bg {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    justify-content: center;
    text-align: center;


}

.podcast-circle-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.podcast-circle {
    width: 180px;
    height: 180px;
    background: linear-gradient(135deg, #facc15 0%, #ec4899 50%, #8b5cf6 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    box-shadow: 0 0 50px rgba(236, 72, 153, 0.2);
}

.podcast-circle img {
    width: 116px;
    height: 116px;
    object-fit: contain;
}

.badge-new {
    position: absolute;
    top: 5px;
    right: -5px;
    background: #22c55e;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 800;
    z-index: 2;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.hero-desc {
    color: #94a3b8;
    max-width: 650px;
    margin: 0 auto 40px;
    font-size: 1.1rem;
}

.cta-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-spotify {
    background: linear-gradient(90deg, #facc15, #ec4899);
    ;
    border: none;
    color: #fff;
    padding: 14px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-spotify img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.btn-outline {
    background: #1e293b;
    border: none;
    color: #22c55e;
    padding: 14px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-outline img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;

}